<body>
  <div class="login-box">
    <form (ngSubmit)="userlogin()">
      <h2>Se Connecter</h2>
      <div class="inputBox">
        <input [(ngModel)]="user.username" type="text" name="username"/>
        <span>Username</span>
        <i></i>
      </div>
      
      <div class="inputBox">
        <input [(ngModel)]="user.password" type="password" name="pass"/>
        <span>Password</span>
        <i></i>
      
      </div>
      <button>Se connecter</button>
    </form>
  </div>
 
</body>


