mat-toolbar{
  background-color: brown;
  color:white;
}
mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background-color: white;
  border-color: brown;
  border-radius: 7px;
  padding: 16px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}
.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  //display: flex;
  justify-content: center;
  //align-items: center;
  //font-size: 2rem;
  //color: lightgray;
  border-radius: 7px;
  overflow: auto;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
}
.spacer{
  flex: 1 1 auto;
}
#a{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  
}


button.menu-button{
  margin-bottom: 10px;
}


  
  