<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="750px">
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             Utilisateurs
              <!--<button mat-icon-button class="more-button" >
                <mat-icon><span class="material-icons"(click)="onClick()">
                  add
                  </span></mat-icon>
              </button>-->
             
            </mat-card-title>
          </mat-card-header>
   <mat-card-content>
      <div class="table_responsive">
      <table>
        <thead>
          <tr>
             <!-- <th>Id</th>-->
            <th>Username</th>
            <th>Email</th>
             <th>Genre</th>
            <!--<th>role</th>-->
            
            
          </tr>
          </thead>
        <tbody>
       
          <tr *ngFor = "let user of users">
            <!--<td> {{ user.id}} </td>-->
            <td> {{ user.username}} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.genre }} </td>
            <!--<td > role: {{ re }} </td>-->
    
        </tr>
       
      </tbody>
    </table>
  </div>
  
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
  </div>
  

