<body>
    <div class="login-box">
      <form (ngSubmit)="registerlogin()">
        <h2>register</h2>
<div class="row g-3">
    <div class="col">
      Username:
      <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="username" aria-label="username" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col">
      Password:
      <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="password" aria-label="password" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
<br><br>
  <div class="row g-3">
    <div class="col">
      Email:
      <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="email" aria-label="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col">
      Genre:
      <select class="form-select" [(ngModel)]="user.genre" [ngModelOptions]="{standalone: true}" aria-placeholder="genre">
        <!--<option >Ouvrez et choisissez le role</option>-->
        <option value="homme" >Homme</option>
        <option value="femme" selected>Femme</option>
      </select>
    </div>
  </div>
  <br><br>
  <div class="row g-3">
    <div class="col">
      Rôle:
        <select class="form-select" [(ngModel)]="user.roles" [ngModelOptions]="{standalone: true}" aria-placeholder="Ouvrez et choisissez le role">
            <!--<option >Ouvrez et choisissez le role</option>-->
            <option value="admin" >role: admin</option>
            <option value="null" selected>role: user</option>
          </select>
    </div>
    </div>
    <br><br>
    <div class="row g-3">
        <div class="col">
            <input type="submit" class="btn btn-outline-succes" name="submit" value="Register">
        </div>
  </div>
      </form>
      </div>
      </body>
