<mat-toolbar>
    <button type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
   ><mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button>
   <img src="assets/UCG_honris_logo.jpg" alt="université centrale de tunis" style="width: 150px; height: 55px; border-radius: 4px;">
   <h1 id="h">MAISON DE L'ETUDIANT</h1>
   <div class="spacer"></div>
   <button mat-button class="btn btn-outline-light">
   <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   ETAGE-1
  </a>
  <span class="action_btn">
    <ul class="dropdown-menu">
      <li><a class="dropdown-item">
   <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu1']">ETAGE-1-R</button></a></li>
   <li><a class="dropdown-item">
    <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu11']">ETAGE-1-C</button></a></li>
    </ul></span>
  </button>
   <button mat-button class="btn btn-outline-light">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      ETAGE-2
    </a>
    <span class="action_btn">
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">
     <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu2']">ETAGE-2-R</button></a></li>
     <li><a class="dropdown-item">
      <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu22']">ETAGE-2-C</button></a></li>
      </ul></span>
  </button>
   <button mat-button class="btn btn-outline-light">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      ETAGE-3
    </a>
    <span class="action_btn">
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">
     <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu3']">ETAGE-3-R</button></a></li>
     <li><a class="dropdown-item">
      <button mat-button class="btn btn-outline-light" [routerLink]="['./etageu33']">ETAGE-3-C</button></a></li>
      </ul></span>
  </button>
   <button mat-button class="btn btn-outline-warning" (click)="lout()"><mat-icon aria-label="Side nav toggle icon">logout</mat-icon></button>
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #drawer mode="side" opened="false">
      <div id="a" *ngIf="usa.genre == genr">
      <img class="avatar mat-elevation-z8" src="assets/OIP.jpg" alt="photo indiquant le genre de l'utilisateur" style="width: 150px; height: 150px;">
    </div>
    <div id="a" *ngIf="usa.genre != genr">
      <img class="avatar mat-elevation-z8" src="assets/OIP-f.jpg" alt="photo indiquant le genre de l'utilisateur" style="width: 150px; height: 150px;">
    </div>
     <h4 class="username">{{usa.username}}</h4>
     <h4 class="email">{{usa.email}}</h4>
     <p class="genre">Genre:{{usa.genre}}</p>
  <br>
     <mat-divider></mat-divider>
     <button mat-button class="menu-button" [routerLink]="['/utilisateur']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
     </button>
     <button mat-button class="menu-button" [routerLink]="['./usersu']">
      <mat-icon>person</mat-icon>
      <span>Users</span>
     </button>
      <button mat-button class="menu-button" [routerLink]="['./detail']">
      <mat-icon>info</mat-icon>
      <span>Details</span>
     </button>
     <mat-divider></mat-divider>
     <button mat-button class="menu-button" [routerLink]="['./help']">
      <mat-icon>helpe</mat-icon>
      <span>Help</span>
     </button>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
     
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
